@import url(style/header.css);


:root  {
    --cor-de-fundo: #c02c2c;
    --branco: #fdfdfd;
    --laranja: #e97d17;
    --azul-degrade:linear-gradient(97.54deg, #df6b27 35.49%, #2ed845 165.37%);
}
body {
    background-color: var(--cor-de-fundo);
    display: flex;

}
